<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h3>Ticket Booking</h3>
    </header>
    <main>
        <div class="loginCard">
            <h1>Login Page</h1>
            <form method="post">
                <label>Username : </label><input type="text" name="username"><br>
                <label>Password : </label><input type="password" name="password"><br>
                <br>
                <button type="submit">Login</button>
                <p style="margin:20px 0">Don't have an account? <a href="register.html">Register here</a></p>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2026 Ticket Booking. All rights reserved</p>
    </footer>
</body>
</html>