<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h3>Ticket Booking</h3>
    </header>

    <main>
        <div class="registerCard">
            <h1>Register Page</h1>

            <form method="post">
                <label>Username :</label>
                <input type="text" name="username"><br><br>

                <label>Email :</label>
                <input type="email" name="email"><br><br>

                <label>Password :</label>
                <input type="password" name="password"><br><br>

                <label>Confirm Password :</label>
                <input type="password" name="confirm_password"><br><br>

                <button type="submit">Register</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2026 Ticket Booking. All rights reserved</p>
    </footer>

</body>
</html>